@font-face {
    font-family: "Montserrat";
    src: url("./fonts/static/Montserrat-Bold.ttf") format("ttf"),
        url("./fonts/Montserrat-VariableFont_wght.ttf") format("ttf");
    font-weight: 600;
    font-style: normal;
}
:root {
    --darkGray: #8c8b7b;
    --whiteYellow: #f2edd5;
    --lightBlack: #26211c;
    --black: #0d0000;
    --lightGray: #f2f2f2;
}
body,
html {
    font-size: 16px;
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#content {
    height: 100vh;
    width: 100vw;
    background-color: var(--lightGray);
}
#navbar {
    display: flex;
    justify-content: center;
    background-color: var(--darkGray);
    width: 100vw;
    gap: 10px;
}
#navbar > button {
    border: 0;
    font-size: 2rem;
    font-family: "Montserrat";
    background-color: var(--whiteYellow);
}
#navbar > button:hover {
    text-decoration: underline;
}
.container {
    background-color: var(--whiteYellow);
    border-radius: 20px;
}
.container > h1 {
    font-size: 48px;
    font-family: "Montserrat";
    text-align: center;
    background-color: var(--darkGray);
}
.polygon {
    clip-path: polygon(
        0 33.3%,
        21% 0,
        79% 0,
        100% 33.3%,
        100% 66.6%,
        79% 100%,
        21% 100%,
        0 66.6%
    );
}
