:root {
    --darkGray: #8c8b7b;
    --whiteYellow: #f2edd5;
    --lightBlack: #26211c;
    --black: #0d0000;
    --lightGray: #f2f2f2;
}
body,
html {
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0;
    width: 100%;
}
#content {
    height: 100vh;
    width: 100vw;
    background-color: var(--lightGray);
}
#navbar {
    display: flex;
    justify-content: center;
    background-color: var(--darkGray);
    width: 100vw;
    gap: 10px;
}
#navbar > button {
    border: 0;
    font-size: 48px;
    background-color: var(--whiteYellow);
}
#navbar > button:hover {
    text-decoration: underline;
}
